.test:nth-child(1) {
  color: blue;
}

.test:nth-child(2) {
  transform: translateZ(1px);
}

.test:nth-child(3) {
  transform: translateZ(2px);
}

.test:nth-child(4) {
  transform: translateZ(3px);
}

.test:nth-child(5) {
  transform: translateZ(4px);
}

.test:nth-child(6) {
  transform: translateZ(5px);
}

.test:nth-child(7) {
  transform: translateZ(6px);
}

.test:nth-child(8) {
  transform: translateZ(7px);
}

.test:nth-child(9) {
  transform: translateZ(8px);
}

.test:nth-child(10) {
  transform: translateZ(9px);
}

.test:nth-child(11) {
  transform: translateZ(10px);
}

.test:nth-child(12) {
  transform: translateZ(11px);
}

.test {
  position: absolute;
  left: 0;
  transform-style: preserve-3d;
}

.wrapper {
  width: 400px;
  height: 400px;
  background-color: beige;
  font-size: 128px;
  transform-style: preserve-3d;
  perspective-origin: bottom;
  transform: translateZ(10px);
}